div#loading svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent !important;
    width: 50px;
}
div#loading {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.6);
    z-index: 999;
    text-align: center;
}
.card-header {

    /*background-color: #0054a4;
    color: #fff !important;
    color: #0054a4 !important;*/
    font-weight: bold;
    font-size: 19px;
}

.col-md-8.my-auto .card .card-body .row {
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
padding-top: 30px;
padding-bottom: 30px;
}


.page-item.active .page-link {
    background-color: #2354a4;
    border-color: #2354a4;
}
.page-link {color: #111;margin-left: 2px;}
.page-link:hover {color: #fff;background-color: #6597e9;}

.table a.nav-link {
    color: #212529;
    padding: 0px;
}

label.error{
    color: #e3342f !important;
    font-weight: 800;
    margin: 0px;
    /*font-size: 80%;*/
}
.table-head-border {
    margin-bottom: 0px;
}
.table-head-border th {
    border: solid 2px #1354a4 !important;
}
.prl-15 {
    padding-right: 15px;
    padding-left: 15px;
}
.disable {
    background: #f7f7f7;
    color: #333;
    border: solid 1px #ddd;
}

button {
    outline: none;
}

h1 {
    padding: 0px;
    margin-top: 25px !important;
    margin-bottom: 20px !important;
}
.card-header {
    background-color: #fff;
}

.card-header h4.d-inline, .card-header h5.float-left{
    font-size: 17px;
    margin: 0px;
    padding: 10px 0px;
    color: #0054a4;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

div#statusSummary .card-header h4 {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
    color: #4d4d4f;
}

.card-body .btn-primary.active, .card-body .btn-primary:hover {
    background-color: #0054a4 !important;
}

.card-body.table-responsive {
    padding: 0px;
}

.card-body.table-responsive table.table {margin: 0px;border: 0px;}


/*sticky table part*/
/*
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
*/
div#palletsJobs table.last-child-fixed tbody tr td:last-child {
   width: 360px;
}
.sticky-tabs{
  position: sticky;position: -webkit-sticky;top: 0px;padding: 10px 0;background: #fff;
z-index: 9;border-bottom: solid 1px #ddd;height: 80px;transition: all 0.4s ease-in-out;
}
.sticky-head{
  position: sticky;position: -webkit-sticky;
top: 80px; z-index: 9; background: #fff; transition: all 0.4s ease-in-out;
}
table th, table td{
  text-align: center;
}
.card-header.sticky-tabs {
    padding: 15px;
}

.header-with-back {
    position: relative;
}

.back-btn {
    position: absolute;
    top: 6px;
    right: 0px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #1354a4;
    text-decoration: none;
}

.back-btn i {
    margin-right: 3px;
    font-size: 12px;
}

.back-btn:hover {
    text-decoration: none;
}

.header-with-back h5 {
    padding-top: 15px;
}